@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --react-clr: #61DAFB;
  --vue-clr: #41B883;
  --svelte-clr: #FF3E00;
  --solid-clr: #5088C7;
  --angular-clr: #DD0031;
}


html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: black;
}



#canvas {
  display: block;
  margin: auto;
  margin-top: 3rem;
  position: relative;

}

.help-btn {
  cursor: pointer;
  position: absolute;
  top: 7%;

  right: 50%;
  transform: translateX(50%);
  z-index: 4;
  border: solid 1px white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: white;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  /* display: none !important; */
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.popup {
  display: flex;
  /* display: none; */
  width: 500px;
  gap: 1rem;
  color: white;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 30%;
  padding: 2rem;
  border-radius: 10px;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);

}

.popup img {
  height: 110px;
  width: auto;
}

.popup-title {
  line-height: 1em;
  padding-bottom: 10px;
}

.popup-desc {
  padding-bottom: 20px;
}

button {
  cursor: pointer;
  padding: .3rem;
  color: white;
  background-color: transparent;
  /* border: solid 1px black; */

  font-size: 1rem;
  border: none;
}

.to-website-btn {
  font-weight: 700;
  color: white;
  background-color: rgba(255, 255, 255, 0.439);
  padding-inline: 1rem;
  border-radius: 4px;
}

.to-website-btn:hover {
  text-decoration: underline;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.help-popup {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  padding: 1rem;
  width: 300px;
}

.help-popup button {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 2rem;
  transition: all .2s ease;
}

.help-popup button:hover {
  color: lightgray
}

.controls-title {
  margin-bottom: 2rem;
}

.controlls-container {
  width: 100%;
  display: flex;
  gap: 2rem;

  align-items: center;
  justify-content: space-between;
}

.mobile-controls {
  display: none;
}

.summery {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: auto minmax(0, 960px) auto;
  color: white;
}

.summery h2 {
  grid-column: 2;
  margin-bottom: 2.2rem;
}

.summery p {
  grid-column: 2;
  letter-spacing: .04em;
  font-size: 1.2rem;
}

.summery .footer {
  font-size: rem;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 600px) {
  .popup {
    flex-direction: column;
    width: 300px;

  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popup-desc {
    text-align: center;
  }

  .popup img {
    height: 50px;
  }

  .help-popup {
    top: 40%;
  }

  .controlls-container {
    flex-direction: column;
  }


  .mobile-controls {
    width: 300px;
    display: flex;
    padding: 2rem;
    gap: 3rem;
    margin: auto;
    justify-content: center;
  }

  .mobile-controls button {
    width: 100px;
    height: 50px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 1px white
  }

  .summery {
    display: grid;
    grid-template-columns: auto minmax(0, 360px) auto;
    color: white;
  }
}