* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --react-clr: #61DAFB;
  --vue-clr: #41B883;
  --svelte-clr: #FF3E00;
  --solid-clr: #5088C7;
  --angular-clr: #DD0031;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
}

body {

  background-color: black;
}



#canvas {
  display: block;
  margin: auto;
  margin-top: 3rem;
  border-radius: 10px;
  position: relative;

}

.help-btn {
  cursor: pointer;
  position: absolute;
  top: 7%;

  right: 50%;
  transform: translateX(50%);
  z-index: 4;
  border: solid 1px white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: white;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.popup {
  display: flex;
  width: 500px;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 30%;
  padding: 2rem;
  border-radius: 10px;
  left: 50%;
  z-index: 20;
  background-color: white;
  box-shadow: 2px 1px 10px black;
  transform: translate(-50%, -50%);

}

.popup img {
  height: 110px;
  width: auto;
}

.popup-title {
  line-height: 1em;
  padding-bottom: 10px;
}

.popup-desc {
  padding-bottom: 20px;
}

button {
  cursor: pointer;
  padding: .3rem;
  background-color: transparent;
  /* border: solid 1px black; */

  font-size: 1rem;
  border: none;
}

.to-website-btn {
  font-weight: 700;
  color: var(--vue-clr)
}

.to-website-btn:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .popup {
    flex-direction: column;
    width: 300px;

  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popup-desc {
    text-align: center;
  }

  .popup img {
    height: 50px;
  }
}